<%= render partial: 'flash_message', locals: {notice: flash} %>
<div class="row">
	<div class="col-md-12 mt-2 mb-2">
		<h1>Register Page</h1>
	</div>
</div>
<div class="row mb-4">
	<div class="col-md-12">
		<%= form_with scope: :user, url: create_user_path, local: true do |f|%>
		<div class="form-group">
			<label for="">Name</label>
			<%= f.text_field :name, :required => true, class: "form-control" %>
		</div>
		<div class="form-group">
			<label for="">
				Email
			</label>
			<%= f.email_field :email, :required => true, class: "form-control" %>
		</div>
		<div class="form-group">
			<label for="">Password</label>
			<%= f.password_field :password, :required => true, class: "form-control" %>
		</div>


		<button type="submit" class="btn btn-primary">Register</button>
		<% end %>
</div>
</div>